.login {
    display: flex;
    border-radius: 9px;
    overflow: hidden;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .15);
    margin-top: 5rem;
}

.login-image {
    flex: 1;
}

.login-image>img {
    height: 100%;
    object-fit: cover;
    border-radius: 9px 0 0 9px;
    opacity: 90%;
}