.likes {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .15s all;
}

.likes>.heart {
    margin-right: 5px;
}

.likes:hover,
.likes:hover>.heart,
.likes.liked {
    color: rgb(196, 39, 39);
}