/* EDIT BLOG MAIN */

.edit-blog_main {
    padding: 5rem 0;
}



/* TEXTAREA */

.edit-blog_main textarea {

    border-radius: 9px;
    padding: 1rem;

    min-width: 100%;
    max-width: 100%;

    resize: none;
    scrollbar-width: none;

    outline: none;

    font-family: var(--ff-lexand);
    background-color: white;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, .05);

}



/* HEADER */

.edit-blog_main>.blog-header {
    font-weight: 300;
    color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}



/* HEADER TITLE */

.edit-blog_main>.blog-title {

    margin-bottom: 1em;
    font-size: 2.5rem;
    font-weight: 700;

    cursor: pointer;
    transition: .15s all;

}

.edit-blog_main>.blog-title:hover {
    color: rgb(197, 39, 39);
}

.edit-blog_main>.title-input {
    font-size: 2.5rem;
    font-weight: 700;
}



/* HEADER USERNAME LINK */

.edit-blog_main>.blog-header>.username-link {
    margin-right: auto;
}



/* HEADER BUTTONS */

.edit-blog_main>.blog-header>.buttons {
    margin-right: 1rem;
    column-gap: 1rem;
    display: flex;
}



/* IMAGE */

.edit-blog_main>.cover-image {
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
    margin-bottom: 1rem;
}



/* BODY */

.edit-blog_main>.blog-body {
    cursor: pointer;
    transition: .15s all;
}

.edit-blog_main>.blog-body:hover {
    color: rgb(197, 39, 39);
}

.edit-blog_main>.blog-body h2 {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 2em;
}

.edit-blog_main>.blog-body p {
    line-height: 2.5rem;
    margin: 2rem 0;
    font-weight: 300;
    font-size: 1.25rem;
}

.edit-blog_main>.blog-body img {
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
}




/* BODY INPUT */

.edit-blog_main>.blog-body>.body-input {
    font-weight: 700;
    font-size: 2rem;
    margin-top: 2em;
}

.edit-blog_main>.blog-body>.body-input {

    font-family: var(--ff-lexand);
    font-size: 2.5rem;
    font-weight: 700;

    line-height: 2.5rem;
    margin: 2rem 0;
    font-weight: 300;
    font-size: 1.25rem;

}